<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Room</title>
</head>
<body>
  <form class="" action="index.html" method="post">
    UserID:<br>
    <input type="text" name="username">
    <br>
    Password:<br>
    <input type="password" name="pwd">
    <br>
    <button type="button">登入</button>
  </form>
</body>
</html>
