body {
  background-color: #EDF3F2;
}

.wrapper {
  margin:0 auto;
  height: 75px;
}

.title {
  text-align: center;
}

.login-box {
  height: 550px;
  width: 330px;
  background-color: #8cc0f2;
  text-align: center;
}
